.header {
  background-color: rgb(252, 252, 252);
  text-align: center;
  color: lightslategrey;
  padding: 40px 0;
  margin: 0 -6%;
  margin-bottom: 20px;
  box-shadow: 0px 16px 8px -16px rgb(87, 87, 87);
}
