.resultCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;

  > img {
    width: 150px;
    height: 150px;
  }

  > div {
    height: 80px;
    text-align: center;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.resultCard__value {
  color: white;
  font-weight: 800;
  background-color: #ff1e38;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 10px;
}
